<% @posts.each do |post| %>
    <article>
      <h2><%= link_to post.title, post %></h2>
      <p><%= post.text %></p>
      <% if current_user %>
        [ <%= link_to "Edit", edit_post_path(post) %> | <%= link_to "Destroy", post, :method => :delete %> ]
      <% end %>
    </article>
<% end %>
<br>

<%= link_to 'New Post', new_post_path %>
