<% @posts.each do |post| %>
    <article>
      <p class="date"><%= post.date.to_formatted_s(:long) %></p>
      <h2 class="title"><%= link_to post.title, post %></h2>
      <p class="body"><%= post.text[0, 297] %><%= link_to "...->", post %></p>
      <% if current_user.role == 1 %>
        [ <%= link_to "Edit", edit_post_path(post) %> | <%= link_to "Destroy", post, :method => :delete %> ]
      <% end %>
    </article>
<% end %>
<br>
<% if current_user.role == 1 %>
<%= link_to 'New Post', new_post_path %>
<% end %>